<!DOCTYPE html>
<html>
<body>

<template id="child-template">
		<input v-model="msg">
		<button v-on:click="notify">Update Email</button>
	</template>

<div id="app">
	<!--For simplicity's sake open the file with a button, could be used for selecting a specific file-->
	<button v-on:click="openDoc">Open XML Document</button>
	<!-- Say hello to the user -->
	<h2 v-if="demo.name.given[0]"> Greetings, {{ demo.name.prefix | json}} {{ demo.name.given[0] | json }} {{demo.name.family | json}}</h2>
	
	<!-- only show all of this if there's stuff to show -->
	<div v-if="demo">
		<p id="dob"> Date of Birth: {{ demo.dob }} </p>
		<p id="gender"> Gender: {{ demo.gender | json }} </p>
		<p id="martial_status"> Marital Status: {{ demo.marital_status | json }} </p>
		<h3> Address </h3>
		<p id="street"> {{demo.address.street[0] | json }}</p> 
		<p id="city-state">{{demo.address.city | json}}, {{ demo.address.state | json }} {{demo.address.zip | json}}</p>

		<h3 id="phone">Phone</h3>
		<ul id="phoneList">		
			<li v-for="items in demo.phone" v-if="items">
				{{ items | json}}
			</li>
		</ul>


		<!--I know there is no email, so here's a basic way to update it. Would need validation -->
		<div v-if="demo.email" id="email"> Email: {{ demo.email | json }} </div>
		<div v-else id="enterEmail"> 
			<child></child>
		</div>

		<p id="ethnicity"> Ethnicity: {{ demo.ethnicity | json }} </p>

		<p id="race"> Race: {{ demo.race | json }} </p>

		<p id="religion"> Religion: {{ demo.religion | json }} </p>

		<h3 id="guardian">Guardian Information</h3>
		<p>{{ demo.guardian.name.given[0] | json}} {{demo.guardian.name.family | json}}, your {{ demo.guardian.relationship}}</p>	
		<p>Provided address is: </p>
		<span id="guardian-street"> {{demo.guardian.address.street[0] | json }} {{demo.guardian.address.city | json}}, {{ demo.guardian.address.state | json }} {{demo.guardian.address.zip | json}}</span>
		<p id="guardian-phone">And phone is: {{demo.guardian.phone.home | json }}</p>

		<h3 id="provider">Provider Information</h3>
		<ul>
			<li v-for="(index, items) in demo.provider" v-if="items">
				{{index + " "}}{{items | json}}
			</li>
		</ul>
	</div>
	<!--<p>{{ message }}</p>
	<input v-model="message">

	<ul>
	    <li v-for="todo in todos">
			{{ todo.text }}
		</li>
	</ul>

	-->
	<!-- take in some text and reverse it 
	<p>{{ message }}</p>
	<input v-model="message">
	<button v-on:click="reverseMessage">Reverse Message</button>

	<input v-model="newTodo" v-on:keyup.enter="addTodo"><button v-on:click="addTodo">Add Item</button>
	<ul>
		<li v-for="todo in todos">
			<span>{{ todo.text }}</span>
			<button v-on:click="removeTodo($index)">Remove</button>
		</li>
	</ul>

	<button v-on:click="removeAll">Clear List</button>
	-->

</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="scripts/vue.js"></script>
	<script src="scripts/bluebutton.js"></script>
	<script src="scripts/app.js"></script>
</body>
</html>
